body{
    font-size: 1.3em;
    background: radial-gradient(circle, rgba(151, 91, 0, 0.842) 0%, rgba(167, 100, 0, 0.842) 90%);
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}